* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav div, header div, main section {
    inline-size: 90vw;
    max-inline-size: 1200px;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.2;
}


h1 {
    font-size: 2.2rem;
}


    h1 {
        font-size: 10em;
    }


h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

  

    nav {

        position: fixed;
        inline-size: 100%;
        z-index: 5;
        background-color: #F7D5C7;

    }

    nav div {
        margin-block: 30px;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        color: #79AB8B;
        padding: 0 20px;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
        font-weight: bold;
    }


    header { 
        block-size: 300px;
        position: relative;
        background-image: url(../image/pexels-photo-399161.jpeg);
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: center;
        color: hsl(0, 0%, 100%);
      
    } 
    
    
        header {
          block-size: 900px;
          background-position-y: -10vw;
        }
    
    
    header::after { 
        content: '';
        background-color: hsla(0, 0%, 0%, 10%);
        position: absolute;
        top: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 3;
    }
    
    h1 {
        color: hsl(0, 0%, 100%)
    }


    /* Header div */

header div {
    position: relative;
    z-index: 4;
    margin-top: 4.5em
}

    header div {
        display: grid;
        grid-template-columns:  auto minmax(min-content, 1fr);
        gap: 1em;
    }


/* Header Section */


    .span-header { 
        color: #F7D5C7;
    }



    /* Main */

h2 {
    margin-block: 0.5em;
}

h3 {
    margin-block: 1.4em;
}

/* Section */
main section, main article {
    margin-block: 5em;
}

main ul { 
    padding: 0;
    display: grid;
    gap: 1rem;
    margin-block: 2em;
}



    main ul {
        grid-template-columns: auto auto;
    }


    .element {
        list-style: none;
        background-color: hsl(0, 0%, 98%);
        border: 1px solid #F7D5C7;
        border-radius: 30px;
        padding: 1.5rem;
        position: relative;
        transition: all ease-in-out 0.3s;
        box-shadow: 0px 0px 0px #3C7683;
        top: 0;
        left: 0;

    }

    .element:hover {
        transition: all ease-in-out 0.3;
        box-shadow: -8px 8px 0px #3C7683;
        top: -8px;
        left: 8px;
    }

    .element p, .element-btn p {
        margin-block: 1.3em;
    }



    .element-btn {
        list-style: none;
        background-color: hsl(0, 0%, 98%);
        border: 1px solid #F7D5C7;
        border-radius: 30px;
        padding: 1.5rem;
        position: relative;
    }


    .Hinterland {
        background-color: #26403F;
        color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 30px;
        margin: 0;
        
    }


    .Ming {
        background-color: #3C7683;
        color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 30px;
        margin: 0;
    }

    .Bay-Leaf {
        background-color: #79AB8B;
        color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 30px;
        margin: 0;
    }


    .Givry {
        background-color: #F7D5C7;
        color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 30px;
        margin: 0;
    }
    


    .Albescent-White {
        background-color: #F4DBD1;
        color: hsl(0, 0%, 100%);
        padding: 30px;
        border-radius: 30px;
        margin: 0;

    }


    code {
        background-color: #26403F;
        color: #F7D5C7;
        padding: 0.5rem;
        border-radius: 0.5rem;
        inline-size: 100%;
        display: block;
    }

   .montserrat {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
   }

   .source-sans-3 {
    font-family: 'Source Sans 3', sans-serif;
    font-family: 700;
   }

   .arial {
    font-family: Arial, sans-serif;
    font-weight: 400;
   }

   .oswald {
    font-family: "Oswald" sans-serif;
    font-weight: 500;
   }


   .alternative {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .alternative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .alternative:hover {
    color: #e8e8e8;
   }
   
   .alternative:hover::before {
    width: 100%;
   }


   .twitter  {
    background: transparent;
    position: absolute;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(40, 144, 241);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(40, 144, 241);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .twitter span {
    margin: 10px;
  }
  
  .twitter::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .twitter:hover {
    color: #3C7683;
    border: 1px solid #3C7683;
  }
  
  .twitter:hover::before {
    box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
  }


  .remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   .remove:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
     background-color: #F7D5C7;
   }
   
   .remove {
    position: relative;
    display: inline-block;
   }
   
   .remove .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .remove .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   


   .next {
    position: relative;
    font-size: 14px;
    letter-spacing: 3px;
    height: 3em;
    padding: 0 3em;
    border: none;
    background-color: #c41b54;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px
   }
   
   .next::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: rgb(196,27,84);
    background: linear-gradient(90deg, rgba(196,27,84,1) 20%, rgba(124,7,46,1) 100%);
    transition: 0.2s;
   }
   
   .next .label {
    position: relative;
   }
   
   .next .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3em;
    right: 0;
    opacity: 0;
    transition: 0.4s;
   }
   
   .next:hover::before {
    height: 100%;
   }
   
   .next:hover .icon {
    top: 0;
    opacity: 1;
   }
  


   /* Footer */
footer {
    background-color: #26403F;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    
}


footer ul {
    padding: 10px;
    margin: 0;
}

footer ul li {
    display: inline;
    margin-inline: 20px;
}

footer a {
    color: hsl(0, 0%, 100%)
}

footer a:hover {
    text-decoration: underline;
}
   